body {
    font-family: 'Raleway', sans-serif;
}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
/*Table Styles*/
table {
    font-family: 'Raleway', sans-serif;    
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}
.title{
    padding: 20px;
    background: #4CAF50;
    color: white;
    
}
td, th {
    border-bottom: 1px solid #8080804f;
    text-align: center;
    padding: 8px;
}
tbody .data:hover{
    background-color: #BDBDBD;
}
.data{
    cursor: default;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}
.shadow-z-1 {
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.12),
                        0 1px 2px 0 rgba(0,0,0,.24);
    -moz-box-shadow:    0 1px 3px 0 rgba(0,0,0,.12),
                        0 1px 2px 0 rgba(0,0,0,.24);
    box-shadow:         11px 10px 9px 7px rgba(0,0,0,.12),
                        0px 0px 17px 0px rgba(0,0,0,.24);
}

.btn {
    position: relative;
    display: block;
    margin: 30px auto;
    padding: 0;
    overflow: hidden;
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    background-color: #448AFF;
    color: #ecf0f1;
    transition: background-color .3s;
    cursor: pointer;
}
  .btn:hover, .btn:focus {
    background-color: rgba(68, 137, 255, 0.514);
}
.btn-del{
    position: relative;
    display: block;
    margin: 30px auto;
    padding: 0;
    overflow: hidden;
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    background-color: #B71C1C;
    color: #ecf0f1;
    transition: background-color .3s;
    cursor: pointer;
}
.btn-del:hover, .btn-del:focus {
    background-color: rgba(183, 28, 28, 0.322);
}
  
  .btn > * {
    position: relative;
}
  
  .btn span {
    display: block;
    padding: 12px 24px;
}
.btn-del span {
    display: block;
    padding: 12px 24px;
}
  
  .btn:before {
    content: "";
    
    position: absolute;
    top: 50%;
    left: 50%;
    
    display: block;
    width: 0;
    padding-top: 0;
      
    border-radius: 100%;
    
    background-color: rgba(236, 240, 241, .3);
    
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.btn-del:before {
    content: "";
    
    position: absolute;
    top: 50%;
    left: 50%;
    
    display: block;
    width: 0;
    padding-top: 0;
      
    border-radius: 100%;
    
    background-color: rgba(236, 240, 241, .3);
    
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
  
.btn:active:before {
    width: 120%;
    padding-top: 120%;
    
    transition: width .2s ease-out, padding-top .2s ease-out;
}
.btn-del:active:before {
    width: 120%;
    padding-top: 120%;
    
    transition: width .2s ease-out, padding-top .2s ease-out;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 32px 20px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/*Media Querys*/
@media screen and (max-width: 600px) {
    table {
        width:100%;
    }
    th {
        display: none;
    }
    tr:nth-of-type(2n) {
        background-color: inherit;
    }
    tr td:first-child {
        background: #f0f0f0;
        font-weight:bold;
        font-size:1.3em;
    }
    tbody td {
        display: block;
        text-align:center;
    }
    tbody td:before {
        content: attr(data-th);
        display: block;
        text-align:center;
    }
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
#cambiaso{

}

.form{
    width:100%;
    margin:auto;
    background: white;
    border-radius: 7px;
    overflow: hidden;
}

.form-titulo{
    height: 70px;
    color:black;
    font-size: 2.25rem;
    text-align: center;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.form-text{
    font-size: 1em;
    width: 43%;
    height: 15%;
    margin-bottom: 15px;
    padding:15px;
    border-radius: 3px;
    border: 1px solid gray;
}

#bio{
    width: 100%;
}


.form-button{
    height: 50px;
    width: 100%;
    text-align: center;
    background: #229954;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.form-button:hover{
    cursor:pointer;
    background: #2E4053;
}

.form-container{
    padding: 20px 30px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.crearnuevo{
    width:200px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

